{% extends './layout.html' %}

    {% block body %}

    <div class="w-full flex flex-col items-center mb-[20px]">
        <header class="w-full h-[6rem] flex flex-row items-center justify-between bg-[#F2F2F2] px-[30px] text-[20px] sm:h-[7rem] lg:h-[8rem]">
            <img src="../static/img/logo.png" alt="CURRICULUMS" class="w-[5rem]">
            <a href="/perfil" class="text-[30px]">Volver</a>
        </header>
        
        <!-- Obtenemos el mensaje enviado desde el flask -->
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages %}
        <div id="usuario_existe" class="bg-gray-500 text-white p-4 rounded text-center fixed top-4 right-4 shadow-lg z-50 duration-2500 opacity-200">
            <p>{{msg}}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <h1 class="text-[30px] w-[90%] min-[568px]:text-[40px] text-center font-bold italic mt-[20px] mb-[20px]">Elige una plantilla</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 justify-items-center w-full gap-[50px]">
            <div class="relative group bg-gray-300 flex items-center justify-center overflow-hidden">
                <img src="../static/img/plantilla1.png" alt="Plantilla 1" class=" w-full ">
                <a href="#" class="absolute inset-0 flex items-center justify-center group-hover:bg-[gray] group-hover:bg-opacity-50 text-white text-[40px] text-center font-bold opacity-0 group-hover:opacity-80 transition-opacity duration-300">Seleccionar plantilla</a>
            </div>
            
            <div class="relative group bg-gray-300 flex items-center justify-center overflow-hidden">
                <img src="../static/img/plantilla2.png" alt="Plantilla 2" class=" w-full ">
                <a href="#" class="absolute inset-0 flex items-center justify-center group-hover:bg-[gray] group-hover:bg-opacity-50 text-white text-[40px] text-center font-bold opacity-0 group-hover:opacity-80 transition-opacity duration-300">Seleccionar plantilla</a>
            </div>

            <div class="relative group bg-gray-300 flex items-center justify-center overflow-hidden">
                <img src="../static/img/plantilla3.png" alt="Plantilla 3" class=" w-full ">
                <a href="#" class="absolute inset-0 flex items-center justify-center group-hover:bg-[gray] group-hover:bg-opacity-50 text-white text-[40px] text-center font-bold opacity-0 group-hover:opacity-80 transition-opacity duration-300">Seleccionar plantilla</a>
            </div>

            <div class="relative group bg-gray-300 flex items-center justify-center overflow-hidden">
                <img src="../static/img/plantilla4.png" alt="Plantilla 4" class=" w-full ">
                <a href="#" class="absolute inset-0 flex items-center justify-center group-hover:bg-[gray] group-hover:bg-opacity-50 text-white text-[40px] text-center font-bold opacity-0 group-hover:opacity-80 transition-opacity duration-300">Seleccionar plantilla</a>
            </div>

            <div class="relative group bg-gray-300 flex items-center justify-center overflow-hidden">
                <img src="../static/img/plantilla5.png" alt="Plantilla 5" class=" w-full ">
                <a href="#" class="absolute inset-0 flex items-center justify-center group-hover:bg-[gray] group-hover:bg-opacity-50 text-white text-[40px] text-center font-bold opacity-0 group-hover:opacity-80 transition-opacity duration-300">Seleccionar plantilla</a>
            </div>

            <div class="relative group bg-gray-300 flex items-center justify-center overflow-hidden">
                <img src="../static/img/plantilla6.png" alt="Plantilla 6" class=" w-full ">
                <a href="#" class="absolute inset-0 flex items-center justify-center group-hover:bg-[gray] group-hover:bg-opacity-50 text-white text-[40px] text-center font-bold opacity-0 group-hover:opacity-80 transition-opacity duration-300">Seleccionar plantilla</a>
            </div>

            <div class="relative group bg-gray-300 flex items-center justify-center overflow-hidden">
                <img src="../static/img/plantilla7.png" alt="Plantilla 7" class=" w-full ">
                <a href="#" class="absolute inset-0 flex items-center justify-center group-hover:bg-[gray] group-hover:bg-opacity-50 text-white text-[40px] text-center font-bold opacity-0 group-hover:opacity-80 transition-opacity duration-300">Seleccionar plantilla</a>
            </div>

            <div class="relative group bg-gray-300 flex items-center justify-center overflow-hidden">
                <img src="../static/img/plantilla8.png" alt="Plantilla 8" class=" w-full ">
                <a href="#" class="absolute inset-0 flex items-center justify-center group-hover:bg-[gray] group-hover:bg-opacity-50 text-white text-[40px] text-center font-bold opacity-0 group-hover:opacity-80 transition-opacity duration-300">Seleccionar plantilla</a>
            </div>

            <div class="relative group bg-gray-300 flex items-center justify-center overflow-hidden">
                <img src="../static/img/plantilla9.png" alt="Plantilla 9" class=" w-full ">
                <a href="#" class="absolute inset-0 flex items-center justify-center group-hover:bg-[gray] group-hover:bg-opacity-50 text-white text-[40px] text-center font-bold opacity-0 group-hover:opacity-80 transition-opacity duration-300">Seleccionar plantilla</a>
            </div>


            </div>
    </div>

    {% endblock %}