<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CURRICULUMS</title>
</head>

<body>
    <div class="w-full font-roboto bg-[#E5E4E4]">
        {% block body %}
        {% endblock %}
    </div>
    <footer class="bg-[#D1D1D1] flex flex-col items-center pb-[10px] sm:p-[10px]">
        <div class="w-full h-[20vh] lg:h-[13vh] px-[10px] lg:px-[30px] text-[20px] flex items-center justify-between">
            <img src="../static/img/logo.png" alt="CURRICULUMS" class="w-[4rem] lg:w-[5rem]">
            <div>
                <div class="flex gap-[10px] lg:gap-[30px]">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fa-brands fa-facebook"></i>
                </div>
                
            </div>
            
            <a href="#">Contacto</a>
        </div>
        <p class="text-center text-[13px]">Copyright © 2025 Curriculum 360. Todos los derechos reservados.</p>
    </footer>
    
    <script src="../static/js/main.js"></script>
</body>
</html>