{% extends './layout.html' %}

    {% block body %}

    <div class="w-full flex flex-col items-center ">
        <header class="w-full h-[6rem] flex flex-row items-center justify-between bg-[#F2F2F2] px-[30px] text-[20px] sm:h-[7rem] lg:h-[8rem]">
            <img src="../static/img/logo.png" alt="CURRICULUMS" class="w-[5rem]">
            <a href="/perfil" class="text-[30px] pointer">Volver</a>
        </header>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages %}
        <div id="usuario_existe" class="bg-gray-500 text-white p-4 rounded text-center fixed top-4 right-4 shadow-lg z-50 duration-2500 opacity-200">
            <p>{{msg}}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
        <div class="w-full flex flex-col items-center overflow-y-scroll">
            <form id="plantilla_5" class="flex-col w-[90%] sm:w-[80%] bg-[white] mt-[50px] mb-[50px] xl:w-[60%]" method="POST" >
                
                <div class="h-[90px] w-full sm:h-[120px] lg:h-[8rem] bg-[#7c582e]">
                    <h1 class="ml-[20px] font-bold text-[35px] sm:text-[40px] md:text-[50px] flex flex-col items-center justify-center text-center h-full lg:text-[60px] text-[white]">{{ usuario.nombre }} {{ usuario.apellidos.split()[0] }}</h1>

                </div>
                <div class="flex flex-row">
                    <div class="w-[50%] bg-[#997852]">
                        
                        <div class="w-full flex flex-col items-center gap-[20px] text-[white]">
                            <div class="w-[85%] flex flex-col gap-[10px] mt-[30px]">
                                <div class="w-full flex items-start justify-start">
                                    <i class="fa-solid fa-location-dot text-[8px] sm:text-[10px] lg:text-[15px] sm:mt-[4px] items-center justify-center"></i>
                                    {{ formulario.direccion(value=parametros.direccion, class="text-[5px] ml-[3px] sm:text-[11px] lg:text-[15px] font-semibold w-full sm:ml-[5px]")}}
                                </div>
                                <div class="w-full flex items-start justify-start">
                                    <i class="fa-solid fa-phone text-[8px] sm:text-[10px] lg:text-[15px] sm:mt-[4px] items-center justify-center"></i>
                                    {{ formulario.telefono(value=parametros.telefono, class="text-[6px] ml-[3px] sm:text-[11px] lg:text-[17px] font-semibold w-full sm:ml-[5px]")}}
                                </div>
                                <div class="w-full flex items-start justify-start">
                                    <i class="fa-solid fa-paper-plane text-[8px] sm:text-[10px] lg:text-[15px] sm:mt-[4px] items-center justify-center"></i>
                                    <p class="text-[6px] ml-[3px] sm:text-[11px] lg:text-[17px] font-semibold w-full sm:ml-[5px]">{{ usuario.correo }}</p>
                                </div>

                                

                                <div class="w-full flex flex-col items-center gap-[10px]">
                                    <hr class="text-[white] font-[extrabold] text-center w-full">
                                    <div class="w-full flex flex-col gap-[5px]">
                                        <h1 class="text-[10px] sm:text-[14px] lg:text-[20px] font-bold">APTITUDES</h1>
                                        {{ formulario.Aptitud_1( placeholder="Aptitud 1", class="text-[9px] sm:text-[13px] lg:text-[20px] max-[321px]:h-[15px] h-[30px] sm:h-[40px] lg:h-[60px] outline-none resize-none" ) }}
                                        {{ formulario.Aptitud_2( placeholder="Aptitud 2", class="text-[9px] sm:text-[13px] lg:text-[20px] max-[321px]:h-[15px] h-[30px] sm:h-[40px] lg:h-[60px] outline-none resize-none" ) }}
                                        {{ formulario.Aptitud_3( placeholder="Aptitud 3", class="text-[9px] sm:text-[13px] lg:text-[20px] max-[321px]:h-[15px] h-[30px] sm:h-[40px] lg:h-[60px] outline-none resize-none" ) }}
                                        {{ formulario.Aptitud_4( placeholder="Aptitud 4", class="text-[9px] sm:text-[13px] lg:text-[20px] max-[321px]:h-[15px] h-[30px] sm:h-[40px] lg:h-[60px] outline-none resize-none" ) }}
                                        {{ formulario.Aptitud_5( placeholder="Aptitud 5", class="text-[9px] sm:text-[13px] lg:text-[20px] max-[321px]:h-[15px] h-[30px] sm:h-[40px] lg:h-[60px] outline-none resize-none" ) }}
                                    </div>
                                </div>
                                <hr class="text-[white] font-[extrabold] text-center w-full">
                            
                                {{ formulario.resumen_profesional.label(class="text-[9px] sm:text-[14px] lg:text-[20px] font-bold") }}
                                {{ formulario.resumen_profesional( value="", placeholder="Escribe sobre ti...", class="w-full text-[9px] sm:text-[13px] lg:text-[18px] resize-none h-[18rem] sm:h-[15rem] lg:h-[18rem] outline-none")}}
                                
                                
                            </div>
                            
                        </div>
                    </div>

                    <div class="w-full flex flex-col items-center gap-[20px] pb-[20px]">
                        <div class="w-[90%] flex flex-col gap-[5px]">
                            
                            <hr class="bg-[#7c582e] border-none h-[2px] mt-[20px] text-center w-full">
                            <h1 class="text-[15px] sm:text-[20px] text-[#7c582e] font-bold">Experiencia</h1>

                            {{ formulario.experiencia_1_fechas(class="text-[12px] sm:text-[15px] lg:text-[30px]", value=parametros.experiencia_1_fechas) }}
                            {{ formulario.experiencia_1_puesto(class="text-[7px] sm:text-[15px] lg:text-[20px] font-bold w-full outline-none", value=parametros.experiencia_1_puesto) }}
                            <div class="flex w-full gap-[3px]">
                                <div class="h-[1px] flex flex-col justify-start items-start">
                                    <p class="mt-[-18px] text-[30px] sm:mt-[-25px] sm:text-[40px] lg:mt-[-20px]">·</p>
                                </div>
                                {{ formulario.experiencia_1_labor_1(class="text-[black] max-[321px]:text-[6px] text-[10px] h-[90px] lg:text-[20px] lg:h-[12rem] sm:text-[12px] sm:h-[70px] max-[321px]:h-[40px] outline-none resize-none w-full") }}
                            </div>
                            <div class="flex w-full gap-[3px]">
                                <div class="h-[1px] flex flex-col justify-start items-start">
                                    <p class="mt-[-18px] text-[30px] sm:mt-[-25px] sm:text-[40px] lg:mt-[-20px]">·</p>
                                </div>
                                {{ formulario.experiencia_1_labor_2(class="text-[black] max-[321px]:text-[6px] text-[10px] h-[90px] lg:text-[20px] lg:h-[12rem] sm:text-[12px] sm:h-[70px] max-[321px]:h-[40px] outline-none resize-none w-full") }}
                            </div>
                            <div class="flex w-full gap-[3px]">
                                <div class="h-[1px] flex flex-col justify-start items-start">
                                    <p class="mt-[-18px] text-[30px] sm:mt-[-25px] sm:text-[40px] lg:mt-[-20px]">·</p>
                                </div>
                                {{ formulario.experiencia_1_labor_3(class="text-[black] max-[321px]:text-[6px] text-[10px] h-[90px] lg:text-[20px] lg:h-[12rem] sm:text-[12px] sm:h-[70px] max-[321px]:h-[40px] outline-none resize-none w-full") }}
                            </div>
                            {{ formulario.experiencia_2_fechas(class="text-[12px] sm:text-[15px] lg:text-[30px]", value=parametros.experiencia_2_fechas	) }}
                            {{ formulario.experiencia_2_puesto(class="text-[7px] sm:text-[15px] lg:text-[20px] font-bold w-full outline-none", value=parametros.experiencia_2_puesto) }}
                            <div class="flex w-full gap-[3px]">
                                <div class="h-[1px] flex flex-col justify-start items-start">
                                    <p class="mt-[-18px] text-[30px] sm:mt-[-25px] sm:text-[40px]">·</p>
                                </div>
                                {{ formulario.experiencia_2_labor_1(class="text-[black] max-[321px]:text-[6px] text-[10px] h-[90px] lg:text-[20px] lg:h-[12rem] sm:text-[12px] sm:h-[70px] max-[321px]:h-[40px] outline-none resize-none w-full") }}
                            </div>
                            <div class="flex w-full gap-[3px]">
                                <div class="h-[1px] flex flex-col justify-start items-start">
                                    <p class="mt-[-18px] text-[30px] sm:mt-[-25px] sm:text-[40px]">·</p>
                                </div>
                                {{ formulario.experiencia_2_labor_2(class="text-[black] max-[321px]:text-[6px] text-[10px] h-[90px] lg:text-[20px] lg:h-[12rem] sm:text-[12px] sm:h-[70px] max-[321px]:h-[40px] outline-none resize-none w-full") }}
                            </div>
                            <div class="flex w-full gap-[3px]">
                                <div class="h-[1px] flex flex-col justify-start items-start">
                                    <p class="mt-[-18px] text-[30px] sm:mt-[-25px] sm:text-[40px]">·</p>
                                </div>
                                {{ formulario.experiencia_2_labor_3(class="text-[black] max-[321px]:text-[6px] text-[10px] lg:text-[20px] lg:h-[12rem] h-[90px] sm:text-[12px] sm:h-[70px] max-[321px]:h-[40px] outline-none resize-none w-full") }}
                            </div>

                            <hr class="bg-[#7c582e] border-none h-[2px] text-center w-full">
                            <h1 class="text-[15px] sm:text-[20px] lg:text-[30px] font-bold text-[#7c582e]">Formación</h1>
                            {{ formulario.formacion_1_año(class="text-[12px] sm:text-[15px] lg:text-[30px] outline-none", value=parametros.formacion_1_año) }}
                            {{ formulario.formacion_1_titulo(class="text-[9px] sm:text-[15px] lg:text-[20px] font-bold w-full outline-none", value=parametros.formacion_1_titulo) }}
                            {{ formulario.formacion_1_temas(class="max-[321px]:text-[6px] text-[10px] h-[190px] lg:text-[20px] lg:h-[12rem] sm:text-[10px] sm:h-[70px] max-[321px]:h-[40px] outline-none resize-none w-full") }}
                            {{ formulario.formacion_2_año(class="text-[12px] sm:text-[15px] lg:text-[30px] outline-none", value=parametros.formacion_2_año) }}
                            {{ formulario.formacion_2_titulo(class="text-[9px] sm:text-[15px] lg:text-[20px] font-bold w-full outline-none", value=parametros.formacion_2_titulo) }}
                            {{ formulario.formacion_2_temas(class="max-[321px]:text-[6px] text-[10px] h-[190px] lg:text-[20px] lg:h-[12rem] sm:text-[10px] sm:h-[70px] max-[321px]:h-[40px] outline-none resize-none w-full overflow-hidden") }}

                                
                        </div>
                    </div>
                </div>
                
                
            </form>
            {{ formulario.finalizar(form="plantilla_5", class="bg-[#FFAB45] h-[50px] w-[13rem]  text-[20px] text-[white] rounded-[10px] cursor-[pointer] mb-[40px]") }}


        </div>
    </div>
    {% endblock %}
